
server:
  port: 8081
spring: 
  application:
    name: PAYMENT-SERVICE
  config:
    import: configserver:http://localhost:9296
  datasource:
    url: jdbc:mysql://localhost:3306/paymentdb
    username: YOUR USERNAME
    password: YOUR PASSWORD
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update  
    show-sql: true 