
server:
  port: 9090

spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
  
          - id: PRODUCT-SERVICE
            uri: lb://PRODUCT-SERVICE
            predicates:
              - Path=/product/**
            filters:
              - name: CircuitBreaker
                args:
                  name: PRODUCT-SERVICE
                  fallbackUri: forward:/productServiceFallBack
  
          - id: ORDER-SERVICE
            uri: lb://ORDER-SERVICE
            predicates:
              - Path=/orders/**
            filters:
              - name: CircuitBreaker
                args:
                  name: ORDER-SERVICE
                  fallbackUri: forward:/orderServiceFallBack
  
          - id: PAYMENT-SERVICE
            uri: lb://PAYMENT-SERVICE
            predicates:
              - Path=/payment/**
            filters:
              - name: CircuitBreaker
                args:
                  name: PAYMENT-SERVICE
                  fallbackUri: forward:/paymentServiceFallBack
     

  application:
    name: API-GATEWAY

  config:
    import: configserver:http://localhost:9296
 
  security:
    oauth2:
      client:
        registration:
          auth0:
            client-id: YOUR ID
            client-secret: YOUR SECRET
            scope: openid, email, profile, offline_access
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/auth0"
        provider:
          auth0:
            issuer-uri: YOUR URI
            jwk-set-uri: YOUR URI
 
auth0:
  audience: YOUR AUDIENCE