resilience4j:
  circuitbreaker:
    instances:
      external: 
        event-consumer-buffer-size: 10
        failure-rate-threshold: 50
        minimum-number-of-calls: 5
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state: 5
        permitted-number-of-calls-in-half-open-state: 3
        sliding-window-size: 10
        sliding-window-type: COUNT_BASED
        


logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{traceId:-},%X{spanId:-}] %msg%n"
management:
    tracing:
        sampling:
            probability: 1.0
server:
  port: 8082
spring:
  zipkin:
    base-url: http://localhost:9411/
  application:
    name: ORDER-SERVICE
  config:
    import: configserver:http://localhost:9296
  datasource:
    url: jdbc:mysql://localhost:3306/orderdb
    username: YOUR USERNAME
    password: YOUR PASSWORD
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update  
    show-sql: true 
    
#    
#eureka:
#  instance:
#    prefer-ip-address: true
#  client: 
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#      defaultZone: ${EUREKA_SERVER_ADDRESS:http://localhost:8761/eureka}



      

